default:
    suites:
        default:
            contexts:
                - phpmud.behat.context.setup.character
                - phpmud.behat.context.setup.location

                - phpmud.behat.context.transform.location
                - phpmud.behat.context.transform.direction

                - phpmud.behat.context.domain.movement
    extensions:
        PHPMud\Tests\Behat\Extension\SymfonyExtension: ~
